<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>HTML5 Pacman</title>

  <style type="text/css">
    @font-face {
      font-family: 'BDCartoonShoutRegular';
      src: url('/common/BD_Cartoon_Shout-webfont.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }

    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    #pacman {
      height: 380px;
      width: 342px;
      margin: 10px auto;
    }

    #shim {
      font-family: BDCartoonShoutRegular;
      position: absolute;
      visibility: hidden
    }

    h1 {
      font-family: BDCartoonShoutRegular;
      text-align: center;
    }

    body,
    html {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      font-family: sans-serif;
      background-color: black;

    }

    a {
      text-decoration: none;
    }

    .controls {
      display: none;
    }

    i {
      color: white;
    }

    i:active {
      color: #0000FF;
    }

    #instructions {
      display: none;
    }

    @media screen and (max-width: 770px) {
      .controls {
        display: grid;
        grid-template-columns: auto 200px auto;
        width: 100vw;
        height: 100px;
        /* position: absolute;
        left: 0;
        bottom: 0; */

      }

      .left,
      .right,
      .center {
        position: relative;
      }

      .left i {
        position: absolute;
        right: 0;
        top: 25%;
      }

      .right i {
        position: absolute;
        left: 0;
        top: 25%;
      }

      .center i:nth-child(2) {
        position: absolute;
        bottom: 0;
        margin-bottom: 10px;
      }


      .controls div {
        display: grid;
        grid-template-rows: auto auto;
        justify-items: center;
      }

      #instructions {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        flex-direction: column;
        position: relative;
        top: 0;
        left: 0;
        justify-content: space-around;
        align-items: center;
        padding-top: 10px;
      }

      #instructions .back,
      #instructions .instruction {
        color: white;
        font-size: 12px;
        font-family: 'BDCartoonShoutRegular';
      }

      #instructions .instruction {
        color: #FFFF00;
        font-size: 10px;

      }
    }
  </style>

</head>

<body>
  <section id="instructions">
    <div class="back"><a href="/">Back to Menu</a> </div>
    <div class="instruction"> Tap the board to restart</div>
  </section>

  <div id="pacman"></div>
  </div>
  <div class="controls">
    <div class="left">
      <i class="fa-solid fa-circle-arrow-left fa-2x"></i>
    </div>
    <div class="center">
      <i class="fa-solid fa-circle-arrow-up fa-2x"></i>
      <i class="fa-solid fa-circle-arrow-down fa-2x"></i>
    </div>
    <div class="right">
      <i class="fa-solid fa-circle-arrow-right fa-2x"></i>
    </div>
  </div>
  <script src="/javascript/pacman.js"></script>
  <script src="/javascript/modernizr-1.5.min.js"></script>

  <script>

    var el = document.getElementById("pacman");

    if (Modernizr.canvas && Modernizr.localstorage &&
      Modernizr.audio && (Modernizr.audio.ogg || Modernizr.audio.mp3)) {
      window.setTimeout(function () { PACMAN.init(el, "./"); }, 0);
    } else {
      el.innerHTML = "Sorry, needs a decent browser<br /><small>" +
        "(firefox 3.6+, Chrome 4+, Opera 10+ and Safari 4+)</small>";
    }
  </script>

</body>

</html>